{% extends 'base.html' %}
{% block main %}
<div class="meio_tdah">
    <div class="tela_100 center">
        <h1>O que é o TDAH /ADHD ?</h1>
        <p>O Transtorno de Déficit de Atenção e Hiperatividade (TDAH) é uma desordem neurobiológica caracterizada por dificuldade em privilegiar um foco e sustentá-lo com nível suficiente de atenção, modular níveis de atividade cognitiva e, em alguns casos, controlar comportamentos impulsivos.</p>
        <p>Esse transtorno pode vir a intervir da vida do indivíduo, pois seus sintomas podem dificultar sua vida acadêmica, principalmente por envolver atividades repetitivas que exigem concentração e consideradas “chatas”, pois de acordo com a Associação Brasileira do Déficit de Atenção (ABDA) ele se caracteriza por sintomas de desatenção, inquietude e impulsividade.</p>
    </div>
    <div class="tela_100 tela_2 center">
        <h1>Diagnóstico e Tratamento</h1>
        <p>Para o diagnóstico é necessária avaliação com profissionais nas áreas de neurologia, psicologia e psiquiatria</p>
        <p>Já para o tratamento, a Associação Brasileira do Déficit de Atenção (ABDA) informa que TDAH deve ser multimodal, ou seja, uma combinação de medicamentos, orientação aos pais e professores.</p>
    </div>
    <div class="tela_100 center">
        <h1>Faça o Questionário ASRS-18</h1>
        
            <p>A Adult Self-Report Scale (ASRS) foi desenvolvida para adaptar os sintomas listados no DSM-V(5ª edição do Diagnostic and Statistical Manual) para o contexto da vida adulta. O presente estudo consistiu em uma adaptação transcultural do instrumento original em inglês para uma versão final para uso corrente no Brasil.</p>
        <p>O questionário abaixo é denominado ASRS-18 e foi desenvolvido por pesquisadores em colaboração com a Organização Mundial de Saúde. Esta é a versão validada no Brasil.</p>
        <p>O diagnóstico correto e preciso do TDAH só pode ser feito através de uma avaliação clínica com
            um profissional especializado.
            Muitos dos sintomas relacionados podem estar associados a outras comorbidades correlatas ao TDAH e outras condições clínicas e psicológicas.</p>
            <h3>Clique aqui para responder ao questionário</h3>
            <a href="https://forms.gle/1LfwmukGNnTfddgS6">https://forms.gle/1LfwmukGNnTfddgS6</a>
        
    </div>
</div>
{% endblock %}